<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'museums/category.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Categories</title>
</head>
<body>


  <div class="container-fluid" style='background:#DCDCDC;'>
    <header class="py-4 mb-2">
      <div class="row">
        <div class="col-6">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            <span class="fs-4">Logo</span>
          </a>
        </div>
        <div class="col-6">
          <ul class="nav nav-pills, underline">
            <li class="nav-item"><a href="#" class="nav-link text-dark"><h6>Розваги</h6></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark"><h6>Ресторани</h6></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark"><h6>Екскурсії</h6></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark"><h6>Музеї</h6></a></li>
            <li class="nav-item"><a href="#" class="nav-link text-dark"><h6>Про нас</h6></a></li>
            <div class="col-3" style="margin-left:10px;">
              <button type="button" class="btn bg-dark text-light" style="margin-top:-4px;">Спланувати</button>
            </div>
          </ul>
        </div>
      </div>
    </header>
  </div>





  <div class='container'>
    <br>
    <div class='row'>
      <div class='col-3'>
        <div class="container" style="background:#DCDCDC;height:700px;border-radius:5px;">
          <h4 class='text-dark' style="text-align:center;padding-top:15px;">Фільтри</h4>
          <hr class="bg-dark">
          <form>
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">HTML</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">CSS</label><br>
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
            <label for="javascript">JavaScript</label>
          </form>
          <div class="row">
            <div class="col-6">
              <form>
                <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
                <label for="vehicle1"> I have a bike</label><br>
                <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
                <label for="vehicle2"> I have a car</label><br>
                <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
                <label for="vehicle3"> I have a boat</label>
              </form>
            </div>
            <div class="col-6">
              <form action="/action_page.php">
                <label for="fname" style="color:black;">Minimum</label><br>
                <input type="text" id="fname" name="fname" value="0"><br>
                <label for="lname" style="color:black;">Maximum</label><br>
                <input type="text" id="lname" name="lname" value="1000"><br><br>
                <input type="submit" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="col-9">
        <h3>Заклади</h3>
        <hr>
        {% for museum in all_museums %}
        <div class="card mb-4 box-shadow" style="max-height:450px;">
          <div class='row'>
            <div class='col-4'>
              <img class="card-img-thumbnail" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 100%;max-height:450px; width: 100%; display: inline-block;" src="{{ museum.img_url }}" data-holder-rendered="true">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h4>{{ museum.name }}</h4>
                <br>
                <br>
                  <div class="row">
                    <div class="col-4">
                      <div class="row">
                        <div class="col-6">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                          </svg>
                        </div>
                        <div class="col-6">
                          <p style="text-align:left;">Mon-Fri</p>
                          <p style="text-align:left;">Sat-Sun</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <div class="col-6">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                          </svg>
                        </div>
                        <div class="col-6" style='padding:0;'>
                          <p style="text-align:left;">{{museum.start_work_hour}}-{{museum.end_work_hour}}</p>
                          <p style="text-align:left;">10:00-16:00</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <div class="col-6">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                            <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                            <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
                          </svg>
                        </div>
                        <div class="col-6">
                          <p style="text-align:left;">{{museum.price}} грн</p>
                          <p style="text-align:left;">160$</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="row" style="height:80px;">
                    <div class="col-6">
                      <p>Phone</p>
                    </div>
                    <div class="col-6">
                      <div class="button-group-vertical">
                        <button type="button" class="btn btn-secondary">
                          Додати
                        </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Детальніше</button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-6" style="text-align:left;">
                      <p>Address</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


  <footer class="py-2" style="background:#DCDCDC">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><h6>Розваги</h6></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><h6>Ресторани</h6></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><h6>Екскурсії</h6></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><h6>Музеї</h6></a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"><h6>Про нас</h6></a></li>
    </ul>
    <p class="text-center text-muted">© 2022 BLITZ Team</p>
  </footer>


</body>
</html>
