{% extends "main/base.html" %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'museums/category.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.15.1/js/v4-shims.js"></script>

{% endblock %}
{% block content %}
    <div class='row'>
      <div class='col-3'>
        <div class="container filter" style="background:#DCDCDC;height:900px;border-radius:5px;">
          <h4 class='text-dark' style="text-align:center;padding-top:15px;">Фільтри</h4>
          <hr class="bg-dark">
          <div class="row">
            <div class="col-12">
              <h5>Вид</h5><br>
              <form>
                <label class="custom-checkbox">
                  <input type="checkbox" value="value-1">
                    Природничі
                </label>
                <label class="custom-checkbox">
                  <input type="checkbox" value="value-1">
                    Меморіальні
                </label>
                <label class="custom-checkbox">
                  <input type="checkbox" value="value-1">
                    Мистецькі
                </label>
                <label class="custom-checkbox">
                  <input type="checkbox" value="value-1">
                    Галереї
                </label>
                <label class="custom-checkbox">
                  <input type="checkbox" value="value-1">
                    Історичні
                </label>
              </form>
              <br>
              <h5>Ціна</h5><br>
              <form>
                <div class="input-group">
                  <div class="input-group">
                    <span class="input-group-text" id="">Від:</span>
                  </div>
                  <input type="text" class="form-control">
                  <div class="input-group">
                    <span class="input-group-text" id="">До:</span>
                  </div>
                  <input type="text" class="form-control">
                   <br>
                  <h5>Рейтинг</h5><br>
                  <div class="input-group">
                      <span class="input-group-text" id="">Зірок:</span>
                    </div>
                  <div class="row">
                    <div class="col-6">
                      <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
                <div >
                  <input class="filter" type="button" value="Підтвердити">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>


      <div class="col-9 content">
        <h3>Музеї</h3>
        <hr>
        {% for museum in all_museums.object_list %}
        <div class="card mb-4 box-shadow">
          <div class='row'>
            <div class='col-4'>
              <img class="card-img-thumbnail" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 100%; width: 100%; display: inline-block;" src="{{ museum|get_img }}" data-holder-rendered="true">
            </div>
            <div class="col-8">
              <div class="card-body">
                <h4>{{ museum.name }}</h4>
                <br>
                <br>
                  <div class="row">
                    <div class="col-4">
                      <div class="row">
                        <div class="col-6">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                            <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
                            <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                          </svg>
                        </div>
                        <div class="col-6">
                          <p style="text-align:left;">Mon-Fri</p>
                          <p style="text-align:left;">Sat-Sun</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <div class="col-6">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                          </svg>
                        </div>
                        <div class="col-6" style='padding:0;'>
                          <p style="text-align:left;">{{museum.start_work_hour}}-{{museum.end_work_hour}}</p>
                          <p style="text-align:left;">10:00-16:00</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <div class="col-6">
                          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-tag" viewBox="0 0 16 16">
                            <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                            <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
                          </svg>
                        </div>
                        <div class="col-6">
                          <p style="text-align:left;">{{museum.price}} грн</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="row" style="margin-top:8px;">
                    <div class="col-6" style="text-align:left;">
                      <div class="container-fluid" style="item-align:center">
                        <div class="row">
                          <div class="col-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                              <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                            </svg>
                          </div>
                          <div class="col-10">
                            <p>{{museum.phone_number}}</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                              <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                              <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                          </div>
                          <div class="col-10">
                            <p>{{museum.address}}</p>
                          </div>
                          <div class="d-flex justify-content-left">
                            <div class="stars">
                              {% for i in museum.rating|get_stars %}
                              <i class="fa fa-star" aria-hidden="true"></i>
                              {% endfor %}
                              {% for i in museum.rating|get_stars_o %}
                              <i class="fa fa-star-o" aria-hidden="true"></i>
                              {% endfor %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="button-group-vertical">
                        <a href="#" class="plan_a" style="text-decoration:none;">
                          <div class="plan_div add">
                            <p id="{{ museum.id }}" style="color:#fff;margin:0px;font-size:16px;">Додати</p>
                          </div>
                        </a>
                        <a href="{{ museum.id }}" style="text-decoration:none;"><button type="button" class="btn btn-sm btn-outline-secondary ui-btn ui-shadow ui-corner-all">Детальніше</button></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

          <div class="pages row m-3 justify-content-center text-center">
            <div class="col-2">
              <a class="btn btn-success" href="?page=1" role="button"><<</a>
            </div>
            <div class="col-2">
              <a class="btn btn-success" href="?page={% if all_museums.has_previous %}{{ all_museums.previous_page_number }}{% else %}1{% endif %}" role="button"><</a>
            </div>
            <div class="col-2">
              <a class="btn btn-success">{{ all_museums.number }}</a>
            </div>
            <div class="col-2">
              <a class="btn btn-success" href="?page={% if all_museums.has_next %}{{ all_museums.next_page_number }}{% else %}{{ pages.num_pages }}{% endif %}" role="button">></a>
            </div>
            <div class="col-2">
              <a class="btn btn-success" href="?page={{ pages.num_pages }}" role="button">>></a>
            </div>
          </div>
        </div>
      </div>
    <script src="{% static 'museums/category_filter.js' %}"></script>
    <script src="{% static 'museums/cart.js' %}"></script>
{% endblock %}

